<h1>Stupid Coaching</h1>
<!-- <p>Find me in app/views/questions/answer.html.erb</p> -->
<div class="container">
  <p class="input"><%= @question %><p>
  <p>-You</p>
</div>

<div class="container">
  <p class="input"><%= @answer %><p>
  <p>-Your coach</p>
</div>

<%= link_to 'Ask another question', ask_path %>
